:root {
    --bs-white: #fff;
    --bs-body-bg: #141414;
    --bs-body-font-weight: 600;
    --bs-body-font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bs-body-bg);
    font-family: var(--bs-body-font-family);
}

h1 {
    font-weight: 600;
}


header {
    height: 90vh; 
    /* background-image: url("stars.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; */
}
hr {
    border: 1px solid #fff;
}

